* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-image: url(./200.webp);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;

}
.sub-container {
    width: 30%;
    /* height: 25%; */
    border: 2px solid yellow;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-container .name {
    margin: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.sub-container div {
    margin: 0.4rem;
    font-size: 1.2rem;
    
}
button {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: none;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;

}